.app-item {
  display: flex;
  flex-direction: row;

  img {
    margin: 0 144px;
  }
}

@media screen and (max-width: 1250px) {
  .app-item img {
    width: 50%;
    height: 50%;
    margin: 0 40px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper:nth-child(4) {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;

    .app-item {
      flex-direction: column-reverse;

      img {
        width: unset;
        height: unset;
        margin: 0 auto;
      }
    }
  }
}
