.artist-main-section {
  background-image: url("../images/MortenHarket.png");
}

.artist-main-section .content > div {
  padding: 50px 0 63px 0;
}

.artisit-btns {
  display: flex;
}

@mixin artist-page-btn {
  min-width: 200px;
  padding: 20px 30px;
  color: $white;
  border: 0;
  border-radius: 5px;
}

.purple-btn {
  margin-right: 1.5rem;
  background-color: $purple;

  @include artist-page-btn;
}

.red-btn {
  background-color: $red;

  @include artist-page-btn;
}

// .svg {
//   width: 20px;
//   height: 20px;
//   margin-right: 16px;
// }

@media screen and (max-width: 600px) {
  .artist-main-section {
    padding: 200px 20px;
  }

  .artist-main-section .content > div {
    padding-top: 25px;
    padding-bottom: 30px;

    p {
      color: $white;
      font-size: 16px;
    }
  }

  .artisit-btns {
    display: flex;
    flex-direction: column;
  }

  .purple-btn {
    margin-bottom: 24px;
  }

  .purple-btn,
  .red-btn {
    max-width: 200px;
  }
}
