.btn {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.green-btn {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background: $green;
  border: 0;
  border-radius: 5px;

  @extend %pointer;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.checkout-btn {
  padding: 20px 30px;
  color: $white;
  background: none;
  border: 1px solid $white;
  border-radius: 5px;

  @extend %pointer;
}

.to-album-btn {
  width: fit-content;
  padding: 16px 30px;
  color: $gray;
  border: 1px solid $gray;
  border-radius: 5px;

  @extend %pointer;
}

.submit-btn-style {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.3rem;
  padding-left: 20px;
  color: $white;
  background: none;
  border: 2px solid $gray;
  border-radius: 3px;

  &::placeholder {
    color: $white;
    font-weight: bold;
    font-size: 14px;
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.download-btn {
  padding: 16px 40px;
  color: $white;
  text-transform: capitalize;
  background-color: $red;
  border: 0;
  border-radius: 32px;

  @extend %pointer;
}

@mixin artist-page-btn {
  min-width: 200px;
  padding: 20px 30px;
  color: $white;
  border: 0;
  border-radius: 5px;

  // @include small-text;
}
