.pricing-items-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.pricing-item {
  position: relative;
  width: 371px;
  margin-top: 50px;
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.price-row {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 40px;
}

.pricing-value {
  margin-right: 16px;
  font-size: 64px;
  line-height: 1em;
}

.pricing-footer {
  height: 57px;
  margin-top: 0;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

@media screen and (max-width: 600px) {
  .pricing-items-row {
    flex-direction: column;
    align-items: center;

    .pricing-item {
      justify-content: center;

      h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
      }
    }
  }
}
