@mixin footer-h2 {
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

@mixin footer-links {
  display: flex;
  flex-direction: column;
  width: 270px;
}

@mixin footer-link {
  // display: flex;
  // align-items: center;
  width: fit-content;
  height: 20px;
  color: $gray;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

@mixin footer-link-bottom {
  display: block;
  // align-items: center;
  // width: fit-content;
  // height: 20px;
  color: $gray;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

@mixin footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;

  @extend %bg-gradient;
}

@mixin footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 74px;
}

@mixin footer-bottom {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 48px;
}

@mixin line {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: $gray;
  border: 1px solid $gray;
}

%bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
