@mixin main-section-style {
  @include main-wrapper;

  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");

  @include img-bg;
}

@mixin logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include mr(90px);
}

@mixin search-input {
  @include search-input-style;
  @include mr(24px);

  display: inline;
}

@mixin search-input-style {
  width: 248px;
  height: 25px;
  padding-left: 10px;
  text-transform: uppercase;
  background: $dark;
  border: 0;
  border-radius: 50px;
}

@mixin nav-bar-style {
  position: absolute;
  top: 25px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 120px;
}

@mixin nav-bar-links {
  display: flex;
  align-items: center;
  color: $dark-gray;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  text-decoration: none;
}
