@font-face {
  font-weight: normal;
  font-family: "Roboto-Regular";
  src: url("src/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto-Bold";
  src: url("src/fonts/Roboto-Bold.ttf");
}

body, .no-margin {
  margin: 0;
}

.green-btn, .checkout-btn, .news-item .to-album-btn, .download-btn {
  cursor: pointer;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: #e0e0e0;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

body {
  width: 100%;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

.font24 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.font32 {
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
}

.font30 {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

.small-text {
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.medium-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.btn {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-section nav {
  position: absolute;
  top: 25px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section nav img {
  width: 24px;
  height: 24px;
  color: #fff;
  margin-right: 16px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 90px;
}

.nav-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cacaca;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav-list li {
  padding-left: 0;
}

.nav-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cacaca;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 24px;
}

.search-input-style {
  width: 248px;
  height: 25px;
  padding-left: 10px;
  text-transform: uppercase;
  background: #3c3b3d;
  border: 0;
  border-radius: 50px;
  margin-right: 24px;
}

.banner p {
  margin-top: 32px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
}

.banner form {
  max-width: 570px;
  margin: 0 auto;
}

.green-btn {
  display: block;
  width: 570px;
  margin: 0 auto;
  padding: 20px 0;
  background: #34c176;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 13.3px;
  line-height: 15px;
}

.pricing-section h3 {
  margin-bottom: 200px;
  color: #fff;
}

.pricing-items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.pricing-item {
  position: relative;
  width: 371px;
  height: 619px;
  margin-top: 50px;
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.pricing-value {
  margin-right: 16px;
  font-size: 64px;
  line-height: 1em;
}

.pricing-footer {
  height: 57px;
}

.checkout-btn {
  display: block;
  padding: 20px 30px;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
}

.news-header {
  margin-bottom: 48px;
}

.mt64 {
  margin-top: 65px;
}

.mb64 {
  margin-bottom: 64px;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-item .news-body p {
  margin-top: 30px;
  margin-bottom: 0;
}

.news-item .news-footer .news-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.news-item .news-footer .news-author .orange {
  margin-right: 16px;
}

.news-item .avatar {
  width: 19px;
  height: 19px;
  margin-right: 16px;
}

.news-item .to-album-btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 30px;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.app-section h2 {
  margin-top: 0;
  margin-bottom: 48px;
}

.app-section .app-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.app-section .app-item img {
  margin-right: 136px;
  margin-left: 164px;
}

.download-btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 40px;
  color: #fff;
  text-transform: capitalize;
  background-color: #95390c;
  border: 0;
  border-radius: 32px;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 100px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 74px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
}

.footer-links .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links h2 {
  margin-top: 0;
  margin-bottom: 16px;
}

.footer-links p {
  width: 100%;
  padding: 2px 0;
  margin: 2px 0;
}

.footer-links ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 0;
}

.vertical-align-middle {
  display: inline;
  vertical-align: middle;
}

.line {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 47px;
}

.footer-bottom a {
  height: 24px;
}

.footer-h2 {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  height: 20px;
  text-decoration: none;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  padding-top: 100px;
}

.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.bg-free {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  border-radius: 1rem;
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  border-radius: 1rem;
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  border-radius: 1rem;
  background-image: url("../images/subscribe_3.png");
}

.mr50 {
  margin-right: 50px;
}

.submit-btn-style {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.3rem;
  padding-left: 20px;
  color: #fff;
  background: none;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
}

.submit-btn-style::-webkit-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-btn-style:-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-btn-style::-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-btn-style::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.mr24 {
  margin-right: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mt14 {
  margin-top: 14px;
}

.mt8 {
  margin-top: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mr16 {
  margin-right: 16px;
}

.orange {
  color: #f89202;
}

@media screen and (max-width: 600px) {
  h1 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }
  h2 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }
  .content {
    width: 100%;
  }
  .main-section nav {
    top: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 0 20px;
  }
  .main-section nav .nav-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .main-section nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 17px 0;
    padding: 0;
  }
  .main-section nav .nav-list li {
    margin-right: 0;
  }
  .main-section nav .nav-list li a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
    margin-bottom: 1px;
    text-align: start;
  }
  .main-section nav .search-input-style {
    width: 100%;
  }
  .banner {
    padding: 50px 20px 0 20px;
  }
  .banner p {
    margin: 16px 0;
  }
  .banner .submit-btn-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .banner .green-btn {
    width: 100%;
  }
  .pricing-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 100px 20px 0 20px;
  }
  .pricing-section h2 {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .pricing-items-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-items-row .pricing-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 593px;
  }
  .pricing-items-row .pricing-item h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .news-section {
    width: 100%;
    padding: 100px 20px 0 20px;
  }
  .mt64 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 64px;
  }
  .eminem-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-item img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 49px;
  }
  .news-text-area .news-body {
    margin-right: 0;
  }
  .news-text-area .news-body h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
  }
  .news-text-area .news-body p {
    margin-top: 16px;
    margin-bottom: 0;
  }
  .news-text-area .news-author {
    margin-bottom: 48px;
    font-size: 12px;
  }
  .news-text-area .news-author img {
    margin-bottom: 0;
  }
  .news-text-area .news-author:nth-last-child(2) {
    margin-top: 14px;
  }
  .app-section {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
  }
  .app-section h2 {
    margin-bottom: 50px;
  }
  .app-section .app-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .app-section .app-item .app-text-area p {
    height: 96px;
  }
  .app-section .app-item .app-text-area p:nth-child(2) {
    height: 72px;
  }
  .app-section .app-item img {
    margin: 0 auto;
    padding: 0;
  }
  .footer {
    padding: 0 20px;
  }
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
    padding-bottom: 44px;
  }
  .footer-top .footer-links:nth-child(4) {
    margin-top: 4px;
  }
  .footer-top .footer-links {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0%;
  }
  .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 32px;
  }
  .footer-bottom a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .footer-links:last-child h2 {
    margin-bottom: 12px;
  }
}
/*# sourceMappingURL=app.css.map */