@font-face {
  font-weight: normal;
  font-family: "Roboto-Regular";
  src: url("src/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto-Bold";
  src: url("src/fonts/Roboto-Bold.ttf");
}

body {
  margin: 0;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: #e0e0e0;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

body {
  width: 100%;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

.small-text {
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.medium-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.font18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}

.btn {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.artist-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
  height: 751px;
  background-image: url("../images/MortenHarket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-style {
  position: absolute;
  top: 25px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 120px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 90px;
}

.nav-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cacaca;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav-list li {
  padding-left: 0;
}

.nav-list li a:hover {
  color: #fff;
}

.search-input-style {
  width: 248px;
  height: 25px;
  padding-left: 10px;
  text-transform: uppercase;
  background: #3c3b3d;
  border: 0;
  border-radius: 50px;
}

.central {
  padding-top: 50px;
}

.central p {
  margin-top: 16px;
  margin-bottom: 48px;
}

.list-btn form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.purple-btn {
  margin-right: 1.5rem;
  background-color: #5328a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 20px 30px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.red-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 20px 30px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
  background-color: #95390c;
}

.svg {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.track-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

.popular-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding-right: 50px;
}

.track-album-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.track-album-info img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.track-info h3 {
  margin: 0;
  font-size: 12.8px;
  line-height: 19.2px;
  text-transform: uppercase;
}

.discography-section,
.similar-artist-section {
  padding-right: 20px;
  padding-left: 20px;
}

.discography-section h2,
.similar-artist-section h2 {
  margin-top: 0;
  margin-bottom: 48px;
}

.discography-list,
.similar-artist-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.discography-item,
.similar-item {
  margin-right: 48px;
  margin-bottom: 25px;
}

.discography-item img,
.similar-item img {
  width: 250px;
  height: 250px;
}

.discography-info,
.similar-info {
  margin-top: 10px;
  margin-bottom: 0;
}

.discography-list .discography-item:nth-child(5),
.discography-item:nth-child(6) {
  margin-bottom: 0;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 100px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 74px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
}

.footer-links .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links h2 {
  margin-top: 0;
  margin-bottom: 16px;
}

.footer-links p {
  width: 100%;
  margin: 2px 0;
  padding: 2px 0;
}

.footer-links ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 0;
}

.footer-links:last-child .footer-h2 {
  margin-bottom: 11px;
}

.footer-links:nth-child(3) .footer-link:nth-child(3) {
  height: auto;
  padding: 0;
}

.footer-icon-style {
  display: inline;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.line {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 48px;
}

.footer-link-bottom {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.footer-h2 {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.footer-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  padding-top: 100px;
}

.mr24 {
  margin-right: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mb25 {
  margin-bottom: 25px;
}

.mr16 {
  margin-right: 16px;
}

.no-margin {
  margin: 0;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 600px) {
  h1 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }
  h2 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }
  .content {
    width: 100%;
  }
  .artist-main-section {
    padding: 200px 20px;
  }
  .artist-main-section nav {
    top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 0 20px;
  }
  .nav-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 17px 0;
    padding: 0;
  }
  .nav-list li {
    margin-right: 0;
  }
  .nav-list li a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
    margin-bottom: 1px;
    text-align: start;
  }
  .search-input-style {
    width: 100%;
  }
  .central {
    padding-top: 25px;
  }
  .central p {
    color: #fff;
    font-size: 16px;
  }
  .central .list-btn form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .central .list-btn form .purple-btn {
    margin-bottom: 24px;
  }
  .popular-track-section {
    width: 100%;
    padding: 0 20px;
    padding-top: 100px;
  }
  .popular-track-section .track-list {
    padding-top: 48px;
  }
  .popular-track-section .track-list .popular-track {
    width: 100%;
    margin-bottom: 25px;
    padding-right: 0;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 150%;
  }
  .popular-track-section .track-list .popular-track:nth-child(6) {
    margin-bottom: 0;
  }
  .discography-section,
  .similar-artist-section {
    width: 100%;
    padding: 0 20px;
    padding-top: 100px;
  }
  .discography-list,
  .similar-artist-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .discography-item,
  .similar-item {
    width: 137px;
  }
  .discography-item img,
  .similar-item img {
    width: 137px;
    height: 137px;
  }
  .discography-info h3,
  .similar-info h3 {
    letter-spacing: -0.9px;
  }
  .footer {
    padding: 0 20px;
  }
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
    padding-bottom: 44px;
  }
  .footer-top .footer-links:nth-child(4) {
    margin-top: 4px;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0%;
  }
  .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .footer-bottom a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
/*# sourceMappingURL=artist.css.map */