html {
  color: #e0e0e0;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  padding-top: 100px;
}

body {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}

@font-face {
  font-weight: normal;
  font-family: "Roboto-Regular";
  src: url("src/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto-Bold";
  src: url("src/fonts/Roboto-Bold.ttf");
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
  margin-top: 0;
}

.font-h3 {
  margin: 0;
  font-size: 12.8px;
  line-height: 19.2px;
  text-transform: uppercase;
}

.small-text {
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.medium-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.font16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.font18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}

.font24 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.font30 {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

.font32 {
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
}

@media screen and (max-width: 600px) {
  h1 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }
  h2 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }
  .font18 {
    letter-spacing: -0.9px;
  }
}

.btn {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.green-btn {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background: #34c176;
  border: 0;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .green-btn {
    width: 100%;
  }
}

.checkout-btn {
  padding: 20px 30px;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
}

.to-album-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 30px;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.submit-btn-style {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.3rem;
  padding-left: 20px;
  color: #fff;
  background: none;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
}

.submit-btn-style::-webkit-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-btn-style:-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-btn-style::-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-btn-style::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .submit-btn-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

.download-btn {
  padding: 16px 40px;
  color: #fff;
  text-transform: capitalize;
  background-color: #95390c;
  border: 0;
  border-radius: 32px;
}

.green-btn, .checkout-btn, .to-album-btn, .download-btn {
  cursor: pointer;
}

html {
  color: #e0e0e0;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  padding-top: 100px;
}

body {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 90px;
}

.search-input-style {
  min-width: 248px;
  height: 25px;
  padding-left: 10px;
  text-transform: uppercase;
  background: #3c3b3d;
  border: 0;
  border-radius: 50px;
}

@media screen and (max-width: 600px) {
  .search-input-style {
    width: 100%;
  }
}

.nav-style {
  position: absolute;
  top: 25px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 120px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cacaca;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav-list li {
  padding-left: 0;
}

.nav-list li a:hover {
  color: #fff;
  font-size: 11.2px;
}

@media screen and (max-width: 600px) {
  nav .align-item-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 17px 0;
    padding: 0;
  }
  .nav-list li {
    margin-right: 0;
  }
  .nav-list li a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
    margin-bottom: 1px;
    text-align: start;
  }
}

.main-section .content > div p {
  margin-top: 32px;
  color: #fff;
  font-size: 16px;
}

.main-section .content > div form {
  max-width: 570px;
  margin: 0 auto;
}

.green-btn {
  color: #fff;
  font-size: 13.3px;
  line-height: 15px;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .main-section nav {
    top: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 0 20px;
  }
  nav .align-item-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 17px 0;
    padding: 0;
  }
  .nav-list li {
    margin-right: 0;
  }
  .nav-list li a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
    margin-bottom: 1px;
    text-align: start;
  }
  .main-section .content > div {
    margin: 0;
    padding: 50px 20px 0 20px;
  }
  .main-section .content > div p {
    margin: 16px 0;
  }
}
/*# sourceMappingURL=main.css.map */