@font-face {
  font-weight: normal;
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  h1 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }
}

h2 {
  margin-top: 0;
  color: #fff;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  h2 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }
}

.font-30 {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

.font-24 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.font-32 {
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
}

.font13-3 {
  color: #fff;
  font-size: 13.3px;
  line-height: 15px;
}

.font-18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}

.small-text {
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.medium-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.font-h3 {
  margin: 0;
  font-size: 12.8px;
  line-height: 19.2px;
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: #e0e0e0;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

body {
  width: 100%;
  margin: 0;
}

.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1250px) {
  .content {
    width: unset;
    max-width: 1200px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  padding-top: 100px;
}

@media screen and (max-width: 1250px) {
  .wrapper {
    width: unset;
    max-width: 1240px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.bg-img {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
}

.align-item-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mt48 {
  margin-top: 48px;
}

.mb64 {
  margin-bottom: 64px;
}

.mb0 {
  margin-bottom: 0;
}

.mt30 {
  margin-top: 30px;
}

.mr50 {
  margin-right: 50px;
}

.no-margin {
  margin: 0;
}

.pr20 {
  padding-right: 20px;
}

.pl20 {
  padding-left: 20px;
}

.d-block {
  display: block;
}

.w-fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text-center {
  text-align: center;
}

.mr24 {
  margin-right: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mt14 {
  margin-top: 14px;
}

.mt8 {
  margin-top: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb48 {
  margin-bottom: 48px;
}

.mr16 {
  margin-right: 16px;
}

.mb25 {
  margin-bottom: 25px;
}

.orange {
  color: #f89202;
}

.mr15 {
  margin-right: 15px;
}

.mb75 {
  margin-bottom: 75px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt75 {
  margin-top: 75px;
}

.btn {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.green-btn {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background: #34c176;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .green-btn {
    width: 100%;
  }
}

.checkout-btn {
  padding: 20px 30px;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.to-album-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 30px;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn-style {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.3rem;
  padding-left: 20px;
  color: #fff;
  background: none;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
}

.submit-btn-style::-webkit-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-btn-style:-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-btn-style::-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-btn-style::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .submit-btn-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

.download-btn {
  padding: 16px 40px;
  color: #fff;
  text-transform: capitalize;
  background-color: #95390c;
  border: 0;
  border-radius: 32px;
  cursor: pointer;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 90px;
}

.search-input-style {
  min-width: 248px;
  height: 25px;
  padding-left: 10px;
  text-transform: uppercase;
  background: #3c3b3d;
  border: 0;
  border-radius: 50px;
}

.nav-style {
  position: absolute;
  top: 25px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 120px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cacaca;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav-list li {
  padding-left: 0;
}

.nav-list li a:hover {
  color: #fff;
}

@media screen and (max-width: 1250px) {
  .logo {
    margin-right: 24px;
  }
  .nav-style {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 7%;
  }
  .nav-style .align-item-center {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-list {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .nav-style {
    top: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 0 20px;
  }
  .nav-style .align-item-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 17px 0;
    padding: 0;
  }
  .nav-list li {
    margin-right: 0;
  }
  .nav-list li a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
    margin-bottom: 1px;
    text-align: start;
  }
  .search-input-style {
    width: 100%;
  }
}

.main-section {
  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");
}

.main-section .content > div p {
  margin-top: 32px;
  color: #fff;
  font-size: 16px;
}

.main-section .content > div form {
  max-width: 570px;
  margin: 0 auto;
}

.title {
  margin-bottom: 200px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .main-section .content > div {
    margin: 0;
    padding: 50px 20px 0 20px;
  }
  .main-section .content > div p {
    margin: 16px 0;
  }
  .wrapper:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 100px 20px 0 20px;
  }
  .wrapper:nth-child(2) h2 {
    width: 100%;
    text-align: center;
  }
}

.pricing-items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.pricing-item {
  position: relative;
  max-width: 371px;
  margin-top: 50px;
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.pricing-value {
  margin-right: 16px;
  font-size: 64px;
  line-height: 1em;
}

.pricing-footer {
  min-height: 57px;
  margin-top: 0;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

@media screen and (max-width: 1250px) {
  .pricing-item {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .pricing-items-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-items-row .pricing-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: unset;
  }
  .pricing-items-row .pricing-item h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-item:last-child {
  margin-top: 64px;
}

.news-sec-img {
  width: 575px;
  height: 286px;
}

@media screen and (max-width: 1250px) {
  .news-sec-img {
    width: 50%;
    height: 50%;
  }
}

.news-author {
  margin-top: 24px;
  margin-bottom: 48px;
}

.news-author p {
  margin-top: 0;
  margin-bottom: 0;
}

.avatar {
  width: 19px;
  height: 19px;
  margin-right: 16px;
}

@media screen and (max-width: 600px) {
  .wrapper:nth-child(3) {
    width: 100%;
    padding: 100px 20px 0 20px;
  }
  .news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-item h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
  }
  .news-item .medium-text {
    margin-top: 16px;
    margin-bottom: 0;
  }
  .news-sec-img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 49px;
  }
  .news-item:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 64px;
  }
  .news-author {
    font-size: 12px;
  }
  .news-author .avatar {
    width: 19px;
    margin-right: 16px;
    margin-bottom: 0;
  }
  .news-author:nth-last-child(2) {
    margin-top: 14px;
  }
}

.app-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.app-item img {
  margin: 0 auto;
}

@media screen and (max-width: 1250px) {
  .app-item img {
    width: 50%;
    height: 50%;
    margin: 0 40px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper:nth-child(4) {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
  }
  .wrapper:nth-child(4) .app-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .wrapper:nth-child(4) .app-item img {
    width: unset;
    height: unset;
    margin: 0 auto;
  }
}

.artist-main-section {
  background-image: url("../images/MortenHarket.png");
}

.artist-main-section .content > div {
  padding: 50px 0 63px 0;
}

.artisit-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.purple-btn {
  margin-right: 1.5rem;
  background-color: #5328a1;
  min-width: 200px;
  padding: 20px 30px;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

.red-btn {
  background-color: #95390c;
  min-width: 200px;
  padding: 20px 30px;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .artist-main-section {
    padding: 200px 20px;
  }
  .artist-main-section .content > div {
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .artist-main-section .content > div p {
    color: #fff;
    font-size: 16px;
  }
  .artisit-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .purple-btn {
    margin-bottom: 24px;
  }
  .purple-btn,
  .red-btn {
    max-width: 200px;
  }
}

.track-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

.popular-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding-right: 50px;
}

@media screen and (max-width: 600px) {
  section:nth-child(2) {
    width: 100%;
    padding: 0 20px;
    padding-top: 100px;
  }
  .track-list {
    padding-top: 48px;
  }
  .track-list .popular-track:nth-child(6) {
    margin-bottom: 0;
  }
  .popular-track {
    width: 100%;
    margin-bottom: 25px;
    padding-right: 0;
  }
}

.discography-list,
.similar-artist-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.discography-item,
.similar-item {
  margin-right: 48px;
}

.discography-item img,
.similar-item img {
  width: 250px;
  height: 250px;
}

.discography-info,
.similar-info {
  margin-top: 10px;
  margin-bottom: 0;
}

.similar-item {
  margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
  .discography-list,
  .similar-artist-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .similar-item,
  .discography-item {
    max-width: 137px;
  }
  .similar-item img,
  .discography-item img {
    width: 137px;
    height: 137px;
  }
  .discography-info,
  .similar-info {
    margin-top: 11px;
  }
}

.footer-h2 {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.footer-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 20px;
  color: #e0e0e0;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

p.footer-link {
  max-height: 24px;
}

.footer-link-bottom {
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.footer {
  width: 100%;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 62px 0 74px 0;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 48px 0;
}

.footer-icon-style {
  display: inline;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.line {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
}

.footer-links h2 {
  margin-bottom: 16px;
}

.footer-links p {
  width: 100%;
  margin: 2px 0;
  padding: 2px 0;
}

.footer-links ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 0;
}

.footer-links:last-child .footer-h2 {
  margin-bottom: 11px;
}

.footer-links:nth-child(3) .footer-link:nth-child(3) {
  height: auto;
  padding: 0;
}

@media screen and (max-width: 1250px) {
  .footer-bottom,
  .footer-top {
    padding-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 0 20px;
  }
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
    padding-bottom: 44px;
    padding-left: 0;
  }
  .footer-top .footer-links:nth-child(4) {
    margin-top: 4px;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0%;
  }
  .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding-left: 0;
  }
  .footer-bottom a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
