* {
  box-sizing: border-box;
}

html {
  color: #e0e0e0;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

body {
  width: 100%;
  margin: 0;
}

.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  padding-top: 100px;
}

.bg-img {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.download-btn,
.to-album-btn,
.checkout-btn,
.green-btn {
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 90px;
}

.search-input-style {
  min-width: 248px;
  height: 25px;
  padding-left: 10px;
  text-transform: uppercase;
  background: #3c3b3d;
  border: 0;
  border-radius: 50px;
}

.nav-style {
  position: absolute;
  top: 25px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 120px;
}

.nav-links {
  display: flex;
  align-items: center;
  color: #cacaca;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-list li {
  padding-left: 0;
}

.nav-list li a:hover {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .nav-style {
    top: 16px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 20px;
  }

  .nav-style .align-item-center {
    flex-direction: column;
    align-items: inherit;
  }

  .nav-list {
    flex-direction: column;
    margin: 17px 0;
    padding: 0;
  }

  .nav-list li {
    margin-right: 0;
  }

  .nav-list li a {
    width: fit-content;
    margin-right: 0;
    margin-bottom: 1px;
    text-align: start;
  }

  .search-input-style {
    width: 100%;
  }
}

.btn {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

* {
  box-sizing: border-box;
}

html {
  color: #e0e0e0;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

body {
  width: 100%;
  margin: 0;
}

.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  padding-top: 100px;
}

.bg-img {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.download-btn,
.to-album-btn,
.checkout-btn,
.green-btn {
  cursor: pointer;
}

.main-section {
  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");
}

.main-section .content > div p {
  margin-top: 32px;
  color: #fff;
  font-size: 16px;
}

.main-section .content > div form {
  max-width: 570px;
  margin: 0 auto;
}

.green-btn {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  color: #fff;
  font-size: 13.3px;
  line-height: 15px;
  background: #34c176;
  border: 0;
  border-radius: 5px;
}

.title {
  margin-bottom: 200px;
  color: #fff;
}

.pricing-items-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.pricing-item {
  position: relative;
  width: 371px;
  margin-top: 50px;
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.price-row {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 40px;
}

.pricing-value {
  margin-right: 16px;
  font-size: 64px;
  line-height: 1em;
}

.pricing-footer {
  height: 57px;
}

.checkout-btn {
  padding: 20px 30px;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

.news-item {
  display: flex;
}

.news-item:last-child {
  margin-top: 64px;
}

.news-sec-img {
  width: 575px;
  height: 286px;
}

.news-author {
  margin-top: 24px;
  margin-bottom: 48px;
}

.news-author p {
  margin-top: 0;
  margin-bottom: 0;
}

.avatar {
  width: 19px;
  height: 19px;
  margin-right: 16px;
}

.to-album-btn {
  width: fit-content;
  padding: 16px 30px;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.app-item {
  display: flex;
  flex-direction: row;
}

.app-item img {
  margin-right: 136px;
  margin-left: 164px;
}

.download-btn {
  padding: 16px 40px;
  color: #fff;
  text-transform: capitalize;
  background-color: #95390c;
  border: 0;
  border-radius: 32px;
}

.footer {
  width: 100%;
  margin-top: 100px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 74px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.footer-links h2 {
  margin-bottom: 16px;
}

.footer-links p {
  width: 100%;
  margin: 2px 0;
  padding: 2px 0;
}

.footer-links ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-links ul li {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.footer-links:last-child .footer-h2 {
  margin-bottom: 11px;
}

.footer-links:nth-child(3) .footer-link:nth-child(3) {
  height: auto;
  padding: 0;
}

.footer-icon-style {
  display: inline;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.line {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
}

.footer-bottom {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 48px;
}

.footer-link-bottom {
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.footer-h2 {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.footer-link {
  width: fit-content;
  height: 20px;
  color: #e0e0e0;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.submit-btn-style {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.3rem;
  padding-left: 20px;
  color: #fff;
  background: none;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
}

.submit-btn-style::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }

  .main-section .content > div {
    margin: 0;
    padding: 50px 20px 0 20px;
  }

  .main-section .content > div p {
    margin: 16px 0;
  }

  .submit-btn-style {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .green-btn {
    width: 100%;
  }

  .wrapper:nth-child(2) {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 100px 20px 0 20px;
  }

  .wrapper:nth-child(2) h2 {
    width: 100%;
    text-align: center;
  }

  .pricing-items-row {
    flex-direction: column;
    align-items: center;
  }

  .pricing-items-row .pricing-item {
    justify-content: center;
  }

  .pricing-items-row .pricing-item h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .wrapper:nth-child(3) {
    width: 100%;
    padding: 100px 20px 0 20px;
  }

  .news-item {
    display: flex;
    flex-direction: column;
  }

  .news-item h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
  }

  .news-item .medium-text {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .news-sec-img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 49px;
  }

  .news-item:last-child {
    flex-direction: column-reverse;
    margin-top: 64px;
  }

  .news-author {
    font-size: 12px;
  }

  .news-author .avatar {
    width: 19px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .news-author:nth-last-child(2) {
    margin-top: 14px;
  }

  .wrapper:nth-child(4) {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
  }

  .wrapper:nth-child(4) .app-item {
    flex-direction: column-reverse;
  }

  .wrapper:nth-child(4) .app-item img {
    margin: 0 auto;
  }

  .app-item > div p:nth-child(1) {
    height: 96px;
  }

  .footer {
    padding: 0 20px;
  }

  .footer-top {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-bottom: 44px;
  }

  .footer-links {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0%;
  }

  .footer-links:nth-child(4) {
    margin-top: 4px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }

  .footer-bottom a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
