.align-item-center {
  display: flex;
  align-items: center;
}

.mt48 {
  margin-top: 48px;
}

.mb64 {
  margin-bottom: 64px;
}

.mb0 {
  margin-bottom: 0;
}

.mt30 {
  margin-top: 30px;
}

.mr50 {
  margin-right: 50px;
}

// .ml120 {
//   margin-left: 120px;
// }

.no-margin {
  margin: 0;
}

.pr20 {
  padding-right: 20px;
}

.pl20 {
  padding-left: 20px;
}

.d-block {
  display: block;
}

.w-fit-content {
  width: fit-content;
}

.text-center {
  text-align: center;
}

.mr24 {
  margin-right: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mt14 {
  margin-top: 14px;
}

.mt8 {
  margin-top: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb48 {
  margin-bottom: 48px;
}

.mr16 {
  margin-right: 16px;
}

.mb25 {
  margin-bottom: 25px;
}

.orange {
  color: $orange;
}

.mr15 {
  margin-right: 15px;
}

.mb75 {
  margin-bottom: 75px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt75 {
  margin-top: 75px;
}
