// .artist-main-section {
//   background-image: url("../images/MortenHarket.png");
// }

// .artist-main-section .content > div {
//   padding-top: 50px;
//   padding-bottom: 63px;
// }

// .artisit-btns {
//   display: flex;
// }

// .purple-btn {
//   margin-right: 1.5rem;
//   background-color: $purple;

//   @include artist-page-btn;
// }

// .red-btn {
//   background-color: $red;

//   @include artist-page-btn;
// }

// .svg {
//   width: 20px;
//   height: 20px;
//   margin-right: 16px;
// }

.track-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
}

.popular-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-right: 50px;
}

.discography-list,
.similar-artist-list {
  display: flex;
  flex-wrap: wrap;
}

.discography-item,
.similar-item {
  margin-right: 48px;
  margin-bottom: 25px;

  img {
    width: 250px;
    height: 250px;
  }
}

.discography-info,
.similar-info {
  margin-top: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }

  // .artist-main-section {
  //   padding: 200px 20px;
  // }

  // .artist-main-section .content > div {
  //   padding-top: 25px;
  //   padding-bottom: 30px;

  //   p {
  //     color: $white;
  //     font-size: 16px;
  //   }
  // }

  // .artisit-btns {
  //   display: flex;
  //   flex-direction: column;
  // }

  // .purple-btn {
  //   margin-bottom: 24px;
  // }

  // .purple-btn,
  // .red-btn {
  //   max-width: 200px;
  // }

  section:nth-child(2) {
    width: 100%;
    padding: 0 20px;
    padding-top: 100px;
  }

  .track-list {
    padding-top: 48px;
  }

  .track-list .popular-track:nth-child(6) {
    margin-bottom: 0;
  }

  .popular-track {
    width: 100%;
    margin-bottom: 25px;
    padding-right: 0;
  }

  section:nth-child(3),
  section:nth-child(4) {
    width: 100%;
    padding: 0 20px;
    padding-top: 100px;
  }

  .discography-list,
  .similar-artist-list {
    justify-content: space-between;
  }

  .discography-item,
  .similar-item {
    max-width: 137px;

    img {
      width: 137px;
      height: 137px;
    }
  }

  .font18 {
    letter-spacing: -0.9px;
  }
}
