@font-face {
  font-family: "Roboto-Regular";
  src: url(src/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(src/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

body, .main-section .banner h1, .main-section .banner h2, .main-section .banner p, .pricing-section h2, .pricing-section .pricing-items-row .pricing-item .price-row .pricing-value, .pricing-section p, .news-section .news-header, .news-section .news-item .news-text-area .news-body h3, .news-section .news-item .news-text-area .news-footer .news-author .avatar, .news-section .news-item .news-text-area .news-footer .news-author p {
  margin: 0;
}

.main-section .banner .green-btn, .pricing-section .pricing-items-row .pricing-item .checkout-btn, .news-section .news-item .news-text-area .news-footer a, .app-section .app-item .app-text-area button {
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #e0e0e0;
  background-color: #08020d;
}

body {
  width: 100%;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-section nav {
  position: absolute;
  top: 25px;
  padding: 0 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section nav .nav-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 90px;
}

.main-section nav .logo img {
  width: 24px;
  height: 24px;
  color: #fff;
  margin-right: 16px;
}

.main-section nav .logo p {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 13px;
}

.main-section nav .nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-section nav .nav-list ul {
  padding-left: 0;
}

.main-section nav .nav-list ul a {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 13px;
  margin-right: 24px;
}

.main-section nav .search-input {
  display: inline;
  width: 248px;
  height: 25px;
  border-radius: 50px;
  background: #3c3b3d;
  border: 0;
  text-transform: uppercase;
  padding-left: 10px;
  margin-right: 24px;
}

.main-section .banner p {
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 16px;
  color: #fff;
}

.main-section .banner form {
  max-width: 570px;
  margin: 0 auto;
}

.main-section .banner .green-btn {
  display: block;
  padding: 20px 0;
  margin: 0 auto;
  width: 570px;
  font-size: 13.3px;
  line-height: 15px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background: #34c176;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.pricing-section {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  width: 1240px;
}

.pricing-section h2 {
  text-align: center;
}

.pricing-section .pricing-items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing-section .pricing-items-row .pricing-item {
  padding: 0 1.5rem;
  border-radius: 1rem;
  width: 367px;
  height: 619px;
  position: relative;
  margin-top: 50px;
}

.pricing-section .pricing-items-row .pricing-item h3 {
  margin-bottom: 200px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.pricing-section .pricing-items-row .pricing-item .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-section .pricing-items-row .pricing-item .price-row .pricing-value {
  line-height: 1em;
  font-size: 64px;
  text-align: center;
  margin-right: 16px;
}

.pricing-section .pricing-items-row .pricing-item .price-row .pricing-currency {
  font-size: 32px;
}

.pricing-section .pricing-items-row .pricing-item .checkout-btn {
  display: block;
  background: none;
  margin-bottom: 64px;
  margin-top: 24px;
  padding: 20px 0;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.pricing-section .pricing-items-row .pricing-item .pricing-footer {
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
  text-align: center;
}

.pricing-section p {
  text-align: center;
  margin-top: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.news-section {
  padding-top: 100px;
}

.news-section .news-header {
  text-align: center;
  margin-bottom: 48px;
}

.news-section .ozzy-item {
  margin-top: 65px;
}

.news-section .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-section .news-item .news-text-area .news-body h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: normal;
  text-transform: capitalize;
}

.news-section .news-item .news-text-area .news-body p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-top: 30px;
}

.news-section .news-item .news-text-area .news-footer .news-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  margin-top: 30px;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.news-section .news-item .news-text-area .news-footer .news-author .avatar {
  height: 19px;
  width: 19px;
  margin-right: 16px;
}

.news-section .news-item .news-text-area .news-footer .news-author .orange-p {
  color: #f89202;
  margin-right: 16px;
}

.news-section .news-item .news-text-area .news-footer a {
  border: 1px solid #e0e0e0;
  padding: 16px 30px;
  border-radius: 5px;
  color: #e0e0e0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.app-section {
  padding-top: 100px;
  margin-bottom: 100px;
}

.app-section h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.app-section .app-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.app-section .app-item .app-text-area p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.app-section .app-item .app-text-area button {
  background-color: #95390c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 40px;
  border-radius: 32px;
  border: 0;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.app-section .app-item img {
  padding: 0 150px;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 61px 0 71px 0;
}

.footer .footer-top .footer-links {
  width: 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-top .footer-links .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-top .footer-links h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
  margin-top: 0;
}

.footer .footer-top .footer-links a {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer .footer-top .footer-links p {
  margin: 2px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
}

.footer .footer-top .footer-links ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .line {
  position: absolute;
  border: 1px solid #e0e0e0;
  width: 100%;
  left: 0;
}

.footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 48px 0;
}

.footer .footer-bottom a {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 15px;
}

.fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.bg-free {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  height: 100%;
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  height: 100%;
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  height: 100%;
  background-image: url("../images/subscribe_3.png");
}

.mr50 {
  margin-right: 50px;
}

.submit-style {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.3rem;
  border-radius: 3px;
  border: 2px solid #e0e0e0;
  background: none;
  color: #fff;
}

.submit-style::-webkit-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-style:-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-style::-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-style::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.mr24 {
  margin-right: 24px;
}

.ml24 {
  margin-left: 24px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }
  .main-section {
    height: 853px;
  }
  .main-section .content {
    width: 100%;
  }
  .main-section .content nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 20px;
  }
  .main-section .content nav .nav-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    margin-bottom: 15px;
  }
  .main-section .content nav .nav-div .logo {
    margin-bottom: 17px;
  }
  .main-section .content nav .nav-div .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-section .content nav .nav-div .nav-list ul {
    margin: 0;
  }
  .main-section .content nav .nav-div .nav-list ul a {
    text-align: start;
    margin-bottom: 1px;
    margin-right: 0;
  }
  .main-section .content nav .search-input {
    width: 100%;
  }
  .main-section .content .banner {
    padding: 0 20px;
    padding-top: 50px;
  }
  .main-section .content .banner p {
    margin: 16px 0;
  }
  .main-section .content .banner .submit-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .main-section .content .banner .green-btn {
    padding: 20px 0;
    width: 100%;
  }
  .pricing-section {
    padding: 0px 20px;
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .pricing-section .content {
    width: 100%;
  }
  .pricing-section .content h2 {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .pricing-section .content .pricing-items-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing-section .content .pricing-items-row .pricing-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pricing-section .content .pricing-items-row .pricing-item h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
    text-transform: uppercase;
  }
  .news-section {
    padding: 0px 20px;
    padding-top: 100px;
  }
  .news-section .content {
    width: 100%;
  }
  .news-section .content .ozzy-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .news-section .content .eminem-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-section .content .news-item img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .news-section .content .news-item .news-text-area .news-body h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .news-section .content .news-item .news-text-area .news-footer .news-author {
    font-size: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-section .content .news-item .news-text-area .news-footer .news-author img {
    margin-bottom: 0;
  }
  .news-section .content .news-item .news-text-area .news-footer .news-author p {
    margin-bottom: 0;
    margin-top: 0;
  }
  .news-section .content .news-item .news-text-area .news-footer a {
    font-size: 12px;
  }
  .app-section {
    padding: 0px 20px;
    padding-top: 100px;
  }
  .app-section .content {
    width: 100%;
  }
  .app-section .content h2 {
    margin-bottom: 50px;
  }
  .app-section .content .app-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .app-section .content .app-item img {
    padding: 0 20px;
    width: 100%;
    height: auto;
  }
  .footer {
    padding: 0 20px;
  }
  .footer .content {
    width: 100%;
  }
  .footer .content .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
    padding-bottom: 44px;
  }
  .footer .content .footer-top .footer-links {
    margin-bottom: 30px;
    margin-left: 0%;
    width: 100%;
  }
  .footer .content .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 32px;
  }
  .footer .content .footer-bottom a {
    margin-bottom: 16px;
  }
}
/*# sourceMappingURL=app.css.map */