// @font-face {
//   font-weight: normal;
//   font-family: "Roboto-Regular";
//   src: url("src/fonts/Roboto-Regular.ttf");
// }

// @font-face {
//   font-weight: bold;
//   font-family: "Roboto-Bold";
//   src: url("src/fonts/Roboto-Bold.ttf");
// }

@import "general/variables.scss";
@import "general/general.scss";
@import "modules/nav.scss";
@import "modules/buttons.scss";
@import "modules/footer.scss";
@import "frameworks/pricing.scss";
@import "utilities/utilities.scss";
@import "frameworks/main.scss";
@import "../scss/general/font-style.scss";

// * {
//   box-sizing: border-box;
// }

// body {
//   width: 100%;

//   @extend %no-margin;
// }

// h1 {
//   @include desktop-h1;
// }

// h2 {
//   @include desktop-h2;

//   margin-top: 0;
// }

// .font24 {
//   @include font24;
// }

// .font32 {
//   font-weight: normal;
//   font-size: 32px;
//   line-height: 150%;
// }

// .font30 {
//   @include font30;
// }

// .small-text {
//   @include small-text;
// }

// .medium-text {
//   @include medium-text;
// }

.align-item-center {
  display: flex;
  align-items: center;
}

.title {
  // @include font24;

  margin-bottom: 200px;
  color: $white;
}

// .checkout-btn {
//   @include checkout-btn;
// }

.bg-img-style {
  @include bg-img;
  @include bg-img-style;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

.news-item {
  display: flex;
}

.news-item:last-child {
  margin-top: 64px;
}

.news-sec-img {
  width: 575px;
  height: 286px;
}

.news-author {
  margin-top: 24px;
  margin-bottom: 48px;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.avatar {
  width: 19px;
  height: 19px;

  @include mr(16px);
}

// .to-album-btn {
//   @include to-album-btn;
// }

.app-item {
  display: flex;
  flex-direction: row;

  img {
    margin-right: 136px;
    margin-left: 164px;
  }
}

// .download-btn {
//   @include download-btn;
// }

.no-margin {
  @extend %no-margin;
}

// .submit-btn-style {
//   @include submit-btn-style;

// }

@media screen and (max-width: 600px) {
  // h1 {
  //   @include mob-h1;
  // }

  // h2 {
  //   @include mob-h2;
  // }

  .wrapper:nth-child(3) {
    width: 100%;
    padding: 100px 20px 0 20px;
  }

  .news-item {
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
    }

    .medium-text {
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  .news-sec-img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 49px;
  }

  .news-item:last-child {
    flex-direction: column-reverse;
    margin-top: 64px;
  }

  .news-author {
    font-size: 12px;

    .avatar {
      width: 19px;
      margin-right: 16px;
      margin-bottom: 0;
    }
  }

  .news-author:nth-last-child(2) {
    margin-top: 14px;
  }

  .wrapper:nth-child(4) {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;

    .app-item {
      flex-direction: column-reverse;

      img {
        margin: 0 auto;
      }
    }
  }

  .app-item > div {
    p:nth-child(1) {
      height: 96px;
      // line-height: 19px;
    }
  }
}
