@font-face {
  font-family: "Roboto-Regular";
  src: url(src/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(src/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

.big-container .main-section .banner .green-btn, .big-container .pricing-section .pricing-items-row .pricing-item .checkout-btn {
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #e0e0e0;
  background-color: #08020d;
}

body {
  width: 100%;
  margin: 0;
}

.big-container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.big-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.big-container .main-section:before {
  background-image: url("../images/banner.png");
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

.big-container .main-section nav {
  position: absolute;
  top: 25px;
  padding: 0 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-container .main-section nav .nav-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-container .main-section nav .logo {
  margin-right: 90px;
}

.big-container .main-section nav .logo img {
  width: 24px;
  height: 24px;
  color: #fff;
  margin-right: 16px;
}

.big-container .main-section nav a {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

.big-container .main-section nav .search-input {
  display: inline;
  width: 248px;
  height: 25px;
  border-radius: 50px;
  background: #3c3b3d;
  border: 0;
  text-transform: uppercase;
  padding-left: 10px;
  margin-right: 24px;
}

.big-container .main-section .banner {
  padding: 200px 0;
}

.big-container .main-section .banner .item-h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.big-container .main-section .banner .item-h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.big-container .main-section .banner .item-p {
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 16px;
  color: #fff;
}

.big-container .main-section .banner .green-btn {
  padding: 20px 0;
  margin: 0 auto;
  width: 570px;
  background: #34c176;
  font-size: 13px;
  border: 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  display: block;
}

.big-container .pricing-section {
  padding-top: 100px;
}

.big-container .pricing-section .item-h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.big-container .pricing-section .pricing-items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-container .pricing-section .pricing-items-row .pricing-item {
  padding: 0 1.5rem;
  border-radius: 1rem;
  width: 367px;
  height: 619px;
  position: relative;
  margin-top: 50px;
}

.big-container .pricing-section .pricing-items-row .pricing-item h3 {
  padding: 21px 0 200px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0;
  font-size: 24px;
}

.big-container .pricing-section .pricing-items-row .pricing-item .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big-container .pricing-section .pricing-items-row .pricing-item .price-row .pricing-value {
  line-height: 1em;
  font-size: 68px;
  text-align: center;
  margin: 0;
}

.big-container .pricing-section .pricing-items-row .pricing-item .price-row .pricing-currency {
  font-size: 32px;
}

.big-container .pricing-section .pricing-items-row .pricing-item .checkout-btn {
  background-color: none;
  margin-bottom: 64px;
  margin-top: 24px;
  padding: 20px 0;
  border: 1px solid #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  display: block;
}

.big-container .pricing-section .pricing-items-row .pricing-item .pricing-footer {
  font-size: 12.5px;
  text-align: center;
}

.big-container .pricing-section p {
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

.big-container .news-section {
  padding-top: 100px;
}

.big-container .news-section .news-header {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.big-container .news-section .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}

.big-container .news-section .news-item .news-text-side .news-body h3 {
  font-size: 30px;
  line-height: 45px;
  margin: 0;
  font-weight: 400;
}

.big-container .news-section .news-item .news-text-side .news-body p {
  font-size: 16px;
}

.big-container .news-section .news-item .news-text-side .news-footer .news-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 35px;
}

.big-container .news-section .news-item .news-text-side .news-footer .news-author .avatar {
  height: 19px;
  width: 19px;
  margin-right: 16px;
}

.big-container .news-section .news-item .news-text-side .news-footer .news-author .orange-p {
  color: #f89202;
  margin-right: 16px;
}

.big-container .news-section .news-item .news-text-side .news-footer a {
  margin: 0;
  border: 1px solid #fff;
  padding: 16px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  display: block;
}

.bg-free::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../images/subscribe_1.png");
  border-radius: 1rem;
}

.bg-standard::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../images/subscribe_2.png");
  border-radius: 1rem;
}

.bg-premium::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../images/subscribe_3.png");
  border-radius: 1rem;
}

.mr50 {
  margin-right: 50px;
}

.submit-style {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border-radius: 3px;
  border: 2px solid #e0e0e0;
  background: none;
  color: #fff;
}

.submit-style::-webkit-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-style:-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-style::-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-style::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.submit-name {
  margin-right: 24px;
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .big-container {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0px 20px;
  }
  .big-container .main-section nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 20px;
  }
  .big-container .main-section nav .logo {
    margin-bottom: 16px;
  }
  .big-container .main-section nav .nav-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    margin-bottom: 23px;
  }
  .big-container .main-section nav .nav-div a {
    text-align: start;
  }
  .big-container .main-section nav .search-input {
    width: 100%;
  }
  .big-container .main-section .banner {
    padding: 250px 20px 0 20px;
  }
  .big-container .main-section .banner .item-h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .big-container .main-section .banner .item-h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .big-container .main-section .banner .item-p {
    margin: 16px 0;
  }
  .big-container .main-section .banner .submit-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .big-container .main-section .banner .submit-name {
    margin-right: 0;
  }
  .big-container .main-section .banner .green-btn {
    padding: 20px 0;
    width: 100%;
  }
  .big-container .pricing-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .big-container .pricing-section .item-h2 {
    width: 100%;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }
  .big-container .pricing-section .pricing-items-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .big-container .pricing-section .pricing-items-row .pricing-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .big-container .news-section .news-header {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .big-container .news-section .ozzy-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .big-container .news-section .eminem-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .big-container .news-section .news-item img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .big-container .news-section .news-item .news-text-side .news-body h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .big-container .news-section .news-item .news-text-side .news-footer .news-author {
    font-size: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .big-container .news-section .news-item .news-text-side .news-footer .news-author img {
    margin-bottom: 0;
  }
  .big-container .news-section .news-item .news-text-side .news-footer .news-author p {
    margin-bottom: 0;
    margin-top: 0;
  }
  .big-container .news-section .news-item .news-text-side .news-footer a {
    font-size: 12px;
  }
}
/*# sourceMappingURL=app.css.map */