@font-face {
  font-family: "Roboto-Regular";
  src: url(src/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(src/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #e0e0e0;
  background-color: #08020d;
}

body {
  width: 100%;
  margin: 0;
}

body .big-container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

body .big-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

body .big-container .main-section:before {
  background-image: url("../images/banner.png");
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

body .big-container .main-section nav {
  position: absolute;
  top: 25px;
  padding: 0 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .big-container .main-section nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .big-container .main-section nav .logo {
  margin-right: 90px;
}

body .big-container .main-section nav .logo img {
  width: 24px;
  height: 24px;
  color: #fff;
  margin-right: 16px;
}

body .big-container .main-section nav a {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

body .big-container .main-section nav .search-input {
  display: inline;
  width: 248px;
  height: 25px;
  border-radius: 50px;
  background: #3c3b3d;
  border: 0;
  text-transform: uppercase;
  padding-left: 10px;
  margin-right: 24px;
}

body .big-container .main-section .banner {
  padding: 200px 0;
}

body .big-container .main-section .banner h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

body .big-container .main-section .banner h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

body .big-container .main-section .banner p {
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 16px;
}

body .big-container .main-section .banner button {
  width: 570px;
  background: #34c176;
  font-size: 13px;
}

body .big-container .pricing-section {
  padding-top: 100px;
}

body .big-container .pricing-section h2 {
  text-align: center;
}

body .big-container .pricing-section div .pricing-item {
  padding: 0 1.5rem;
  border-radius: 1rem;
  width: 367px;
  height: 619px;
  position: relative;
}

body .big-container .pricing-section div .pricing-item:before {
  background-image: url("../images/subscribe_1.png");
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

body .big-container .pricing-section div .pricing-item h3 {
  padding: 21px 0 200px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0;
  font-size: 24px;
}

body .big-container .pricing-section div .pricing-item .pricing-value {
  line-height: 1em;
  font-size: 68px;
  text-align: center;
  margin: 0;
}

body .big-container .pricing-section div .pricing-item .pricing-value span {
  font-size: 32px;
}

body .big-container .pricing-section div .pricing-item a {
  background-color: none;
  border: 1px solid #fff;
  margin-bottom: 64px;
  margin-top: 24px;
}

body .big-container .pricing-section div .pricing-item .pricing-footer {
  font-size: 12.5px;
  text-align: center;
}

body .big-container .pricing-section p {
  text-align: center;
}

.submit-btn-style {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border-radius: 3px;
  border: 2px solid #e0e0e0;
  background: none;
}

.submit-name {
  margin-right: 24px;
}

.text-center {
  text-align: center;
}

.btn {
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  margin: 0 auto;
  border-radius: 5px;
  display: block;
}

.no-margin {
  margin: 0;
}

.pricing-item {
  margin-top: 100px;
}

@media screen and (max-width: 600px) {
  .big-container {
    width: 100%;
    margin: 0;
    height: 100%;
  }
  .big-container .main-section nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 20px;
  }
  .big-container .main-section nav .logo {
    margin-bottom: 16px;
  }
  .big-container .main-section nav div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    margin-bottom: 23px;
  }
  .big-container .main-section nav div a {
    text-align: start;
  }
  .big-container .main-section nav input {
    width: 100%;
  }
  .big-container .main-section .banner {
    padding: 278px 20px 0 20px;
  }
  .big-container .main-section .banner h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .big-container .main-section .banner h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .big-container .main-section .banner p {
    margin: 16px 0;
  }
  .big-container .main-section .banner div input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}
/*# sourceMappingURL=app.css.map */