@font-face {
  font-weight: normal;
  font-family: "Roboto-Regular";
  src: url("src/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto-Bold";
  src: url("src/fonts/Roboto-Bold.ttf");
}

@import "variables.scss";
@import "general.scss";
@import "modules/nav.scss";
@import "modules/buttons.scss";
@import "modules/footer.scss";

* {
  box-sizing: border-box;
}

html {
  @include general-project-style;
}

body {
  width: 100%;

  @extend %no-margin;
}

h1 {
  @include desktop-h1;
}

h2 {
  @include desktop-h2;

  margin-top: 0;
}

.font24 {
  @include font24;
}

.font32 {
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
}

.font30 {
  @include font30;
}

.small-text {
  @include small-text;
}

.medium-text {
  @include medium-text;
}

.btn {
  @include btn;
}

.main-section {
  @include main-wrapper;

  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");

  @include bg-img;
}

.logo {
  @include logo;
}

.nav-style {
  @include nav-bar-style;
}

.align-item-center {
  display: flex;
  align-items: center;
}

.nav-links {
  @include nav-bar-links;
}

.nav-list {
  display: flex;
  list-style-type: none;

  li {
    padding-left: 0;

    a:hover {
      color: $white;
      // font-size: 11.2px;
    }
  }
}

.search-input-style {
  @include search-input-style;
}

.banner {
  margin-bottom: 32px;

  p {
    margin-bottom: 16px;
    color: $white;
    font-size: 16px;
  }

  form {
    max-width: 570px;
    margin: 0 auto;
  }
}

.green-btn {
  @include green-btn;

  color: $white;
  font-size: 13.3px;
  line-height: 15px;
}

// .pricing-section {
//   h3 {

//   }
// }

.title {
  @include font24;

  margin-bottom: 200px;
  color: $white;
}

.pricing-items-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.pricing-item {
  position: relative;
  width: 371px;
  margin-top: 50px;
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.price-row {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 40px;
}

.pricing-value {
  margin-right: 16px;
  font-size: 64px;
  line-height: 1em;
}

.pricing-footer {
  height: 57px;
}

// I try to remove height and add lint-height, and thats look nice at 1 price-item, but at other 2 items..
// schreenshots are in src/schreenshot/..

.checkout-btn {
  @include checkout-btn;
}

.bg-img-style {
  @include bg-img;
  @include bg-img-style;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

.news-header {
  margin-top: 0;
  margin-bottom: 48px;
}

// .mt64 {
//   margin-top: 65px;
// }

.mb64 {
  margin-bottom: 64px;
}

.news-item {
  display: flex;
}

.mb0 {
  margin-bottom: 0;
}

.mt30 {
  margin-top: 30px;
}

.news-item:last-child {
  margin-top: 64px;
}

.news-sec-img {
  width: 575px;
  height: 286px;
}

.news-author {
  margin-top: 24px;
  margin-bottom: 48px;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.avatar {
  width: 19px;
  height: 19px;

  @include mr(16px);
}

.to-album-btn {
  @include to-album-btn;
}

.app-item {
  display: flex;
  flex-direction: row;

  img {
    margin-right: 136px;
    margin-left: 164px;
  }
}

.download-btn {
  @include download-btn;
}

.footer {
  @include footer;
}

.footer-top {
  @include footer-top;
}

.footer-links {
  @include footer-links;

  h2 {
    margin-bottom: 16px;
  }

  p {
    width: 100%;
    margin: 2px 0;
    padding: 2px 0;
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
      padding: 2px 0;

      // a {
      //   margin: 2px 0;
      // }
    }
  }
}

.footer-links:last-child .footer-h2 {
  margin-bottom: 11px;
}

.footer-links:nth-child(3) {
  .footer-link:nth-child(3) {
    height: auto;
    padding: 0;
  }
}

.footer-icon-style {
  @include footer-icon-style;
}

.line {
  @include line;
}

.footer-bottom {
  @include footer-bottom;
}

.footer-link-bottom {
  @include footer-link-bottom;
}

.footer-h2 {
  @include footer-h2;
}

.footer-link {
  @include footer-link;
}

.wrapper {
  @include wrapper;
}

.content {
  @include content-container;
}

.no-margin {
  @extend %no-margin;
}

.mr50 {
  margin-right: 50px;
}

.submit-btn-style {
  @include submit-btn-style;

  &::placeholder {
    color: $white;
    font-weight: bold;
    font-size: 14px;
  }
}

.d-block {
  display: block;
}

.w-fit-content {
  width: fit-content;
}

.text-center {
  text-align: center;
}

.mr24 {
  margin-right: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mt14 {
  margin-top: 14px;
}

.mt8 {
  margin-top: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb48 {
  margin-bottom: 48px;
}

.mr16 {
  margin-right: 16px;
}

.orange {
  color: $orange;
}

@media screen and (max-width: 600px) {
  h1 {
    @include mob-h1;
  }

  h2 {
    @include mob-h2;
  }

  .content {
    width: 100%;
  }

  .main-section {
    nav {
      top: 16px;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 0 20px;
    }
  }

  .nav-style {
    .align-item-center {
      flex-direction: column;
      align-items: inherit;
    }
  }

  .nav-list {
    flex-direction: column;
    margin: 17px 0;
    padding: 0;

    li {
      margin-right: 0;

      a {
        width: fit-content;
        margin-right: 0;
        margin-bottom: 1px;
        text-align: start;
      }
    }
  }

  .search-input-style {
    width: 100%;
  }

  .banner {
    margin: 0;
    padding: 50px 20px 0 20px;

    p {
      margin: 16px 0;
    }
  }

  .submit-btn-style {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .green-btn {
    width: 100%;
  }

  .wrapper:nth-child(2) {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 100px 20px 0 20px;

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  .pricing-items-row {
    flex-direction: column;
    align-items: center;

    .pricing-item {
      justify-content: center;

      h3 {
        @include font16;
      }
    }
  }

  .wrapper:nth-child(3) {
    width: 100%;
    padding: 100px 20px 0 20px;
  }

  .news-item {
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
    }

    .medium-text {
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  .news-sec-img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 49px;
  }

  .news-item:last-child {
    flex-direction: column-reverse;
    margin-top: 64px;
  }

  .news-author {
    // margin-bottom: 48px;
    font-size: 12px;

    .avatar {
      width: 19px;
      margin-right: 16px;
      margin-bottom: 0;
    }

    // p {
    //   margin-top: 0;
    // }
  }

  .news-author:nth-last-child(2) {
    margin-top: 14px;
  }

  .wrapper:nth-child(4) {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;

    .app-item {
      flex-direction: column-reverse;

      img {
        margin: 0 auto;
      }
    }
  }

  .app-text-area {
    p:nth-child(1) {
      height: 96px;
      // line-height: 19px;
    }
  }

  .footer {
    padding: 0 20px;
  }

  .footer-top {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-bottom: 44px;
  }

  .footer-links {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0%;
  }

  .footer-links:nth-child(4) {
    margin-top: 4px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: unset;

    a {
      width: 100%;
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}
