@font-face {
  font-family: "Roboto-Regular";
  src: url(src/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(src/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}
@import "variables";
@import "general";

* {
  box-sizing: border-box;
}

html {
  @include general-project-style;
}

body {
  width: 100%;
  margin: 0;
}

.big-container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;

  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .main-section {
    &:before {
      background-image: url("../images/banner.png");
      @include bg-before;
    }

    nav {
      position: absolute;
      top: 25px;
      padding: 0 120px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .nav-div {
        display: flex;
        align-items: center;
      }

      .logo {
        @include mr(90px);

        img {
          width: 24px;
          height: 24px;
          color: $white;
          @include mr(16px);
        }
      }

      a {
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        color: $dark-gray;
        display: flex;
        align-items: center;
        @include mr(24px);
      }

      .search-input {
        display: inline;
        width: 248px;
        height: 25px;
        border-radius: 50px;
        background: $dark;
        border: 0;
        text-transform: uppercase;
        padding-left: 10px;
        @include mr(24px);
      }
    }

    .banner {
      padding: 200px 0;

      .item-h1 {
        @include desktop-h1;
        color: $white;
      }

      .item-h2 {
        @include desktop-h2;
        color: $white;
      }

      .item-p {
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 16px;
        color: $white;
      }

      .green-btn {
        padding: 20px 0;
        margin: 0 auto;
        width: 570px;
        background: $green;
        font-size: 13px;
        border: 0;
        @extend %pointer;
        @include btn;
      }
    }
  }

  .pricing-section {
    padding-top: 100px;

    .item-h2 {
      @include desktop-h2;
      text-align: center;
      margin: 0;
    }

    .pricing-items-row {
      display: flex;
      justify-content: space-between;

      .pricing-item {
        padding: 0 1.5rem;
        border-radius: 1rem;
        width: 367px;
        height: 619px;
        position: relative;
        margin-top: 50px;

        h3 {
          padding: 21px 0 200px 0;
          text-transform: uppercase;
          text-align: center;
          font-weight: 400;
          margin: 0;
          font-size: 24px;
        }

        .price-row {
          display: flex;
          align-items: end;
          justify-content: center;

          .pricing-value {
            line-height: 1em;
            font-size: 68px;
            text-align: center;
            margin: 0;
          }

          .pricing-currency {
            font-size: 32px;
          }
        }

        .checkout-btn {
          background-color: none;
          margin-bottom: 64px;
          margin-top: 24px;
          padding: 20px 0;
          border: 1px solid $white;
          @extend %pointer;
          @include btn;
        }

        .pricing-footer {
          font-size: 12.5px;
          text-align: center;
        }
      }
    }

    p {
      text-align: center;
      margin: 0;
      padding-top: 40px;
    }
  }

  .news-section {
    padding-top: 100px;

    .news-header {
      @include desktop-h2;
      text-align: center;
      margin: 0;
      margin-bottom: 50px;
    }

    .news-item {
      display: flex;
      margin-bottom: 65px;

      .news-text-side {
        .news-body {
          h3 {
            font-size: 30px;
            line-height: 45px;
            margin: 0;
            font-weight: 400;
          }
          p {
            font-size: 16px;
          }
        }
        .news-footer {
          .news-author {
            display: flex;
            align-items: baseline;
            margin-bottom: 35px;

            .avatar {
              height: 19px;
              width: 19px;
              @include mr(16px);
            }

            .orange-p {
              color: $orange;
              @include mr(16px);
            }
          }
          a {
            margin: 0;
            border: 1px solid $white;
            padding: 16px 30px;
            width: fit-content;
            @include btn;
          }
        }
      }
    }
  }
}

.bg-free::before {
  @include bg-before;
  background-image: url("../images/subscribe_1.png");
  border-radius: 1rem;
}

.bg-standard::before {
  @include bg-before;
  background-image: url("../images/subscribe_2.png");
  border-radius: 1rem;
}

.bg-premium::before {
  @include bg-before;
  background-image: url("../images/subscribe_3.png");
  border-radius: 1rem;
}

.mr50 {
  margin-right: 50px;
}

.submit-style {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border-radius: 3px;
  border: 2px solid $gray;
  background: none;
  color: $white;
  &::placeholder {
    color: $white;
    font-weight: bold;
    font-size: 14px;
  }
}

.submit-name {
  @include mr(24px);
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .big-container {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0px 20px;

    .main-section {
      nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 20px;
        .logo {
          margin-bottom: 16px;
        }

        .nav-div {
          flex-direction: column;
          align-items: inherit;
          margin-bottom: 23px;

          a {
            text-align: start;
          }
        }

        .search-input {
          width: 100%;
        }
      }

      .banner {
        padding: 250px 20px 0 20px;

        .item-h1 {
          @include mob-h1;
        }

        .item-h2 {
          @include mob-h2;
        }

        .item-p {
          margin: 16px 0;
        }

        .submit-style {
          display: flex;
          flex-direction: row;
          width: 100%;
        }
        .submit-name {
          @include mr(0);
        }

        .green-btn {
          padding: 20px 0;
          width: 100%;
        }
      }
    }

    .pricing-section {
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 0 auto;

      .item-h2 {
        width: 100%;
        @include mob-h2;
        text-align: center;
        margin: 0 auto;
      }

      .pricing-items-row {
        align-items: center;
        flex-direction: column;

        .pricing-item {
          justify-content: center;
        }
      }
    }

    .news-section {
      .news-header {
        @include mob-h2;
      }

      .ozzy-item {
        display: flex;
        flex-direction: column-reverse;
      }

      .eminem-item {
        display: flex;
        flex-direction: column;
      }

      .news-item {
        img {
          width: 100%;
          height: auto;
          margin-bottom: 50px;
        }

        .news-text-side {
          .news-body {
            h3 {
              font-size: 16px;
              line-height: 24px;
              font-weight: 400;
            }
          }

          .news-footer {
            .news-author {
              // margin-bottom: 0;
              font-size: 12px;
              align-items: center;

              img {
                margin-bottom: 0;
              }

              p {
                margin-bottom: 0;
                margin-top: 0;
              }
            }

            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
