@font-face {
  font-family: "Roboto-Regular";
  src: url(src/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(src/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

body, .footer .footer-top .footer-links p {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #e0e0e0;
  background-color: #08020d;
}

body {
  width: 100%;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.btn {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.artist-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
  height: 751px;
  background-image: url("../images/MortenHarket.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.artist-main-section nav {
  position: absolute;
  top: 25px;
  padding: 0 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.artist-main-section nav .nav-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.artist-main-section nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 90px;
}

.artist-main-section nav .logo img {
  width: 24px;
  height: 24px;
  color: #fff;
  margin-right: 16px;
}

.artist-main-section nav .logo p {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 13px;
}

.artist-main-section nav .nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.artist-main-section nav .nav-list li {
  padding-left: 0;
}

.artist-main-section nav .nav-list li a {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 13px;
  margin-right: 24px;
}

.artist-main-section nav .search-input {
  display: inline;
  width: 248px;
  height: 25px;
  border-radius: 50px;
  background: #3c3b3d;
  border: 0;
  text-transform: uppercase;
  padding-left: 10px;
  margin-right: 24px;
}

.artist-main-section .central {
  padding-top: 50px;
}

.artist-main-section .central h1 {
  margin: 0;
}

.artist-main-section .central p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 48px;
  margin-top: 16px;
}

.artist-main-section .central .list-btn form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.artist-main-section .central .list-btn form .purple-btn {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin-right: 1.5rem;
  background-color: #5328a1;
  color: #fff;
  width: 200px;
  padding: 20px 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.artist-main-section .central .list-btn form .purple-btn img {
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

.artist-main-section .central .list-btn form .red-btn {
  color: #fff;
  width: 200px;
  padding: 20px 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
  background-color: #95390c;
}

.artist-main-section .central .list-btn form .red-btn img {
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

.popular-track-section {
  padding: 0 120px;
  padding-top: 100px;
}

.popular-track-section h2 {
  margin: 0;
}

.popular-track-section .track-list {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.popular-track-section .track-list .rows {
  width: 50%;
}

.popular-track-section .track-list .rows .popular-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
}

.popular-track-section .track-list .rows .popular-track .track-album-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-track-section .track-list .rows .popular-track .track-album-info img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.popular-track-section .track-list .rows .popular-track .track-album-info .track-info h3 {
  font-size: 12.8px;
  line-height: 19.2px;
  text-transform: uppercase;
  margin: 0;
}

.popular-track-section .track-list .rows .popular-track .track-album-info .track-info p {
  margin: 0;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.popular-track-section .track-list .rows .popular-track p {
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.discography-section,
.similar-artist-section {
  padding: 0 120px;
  padding-top: 100px;
}

.discography-section h2,
.similar-artist-section h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

.discography-section .discography-list,
.discography-section .similar-artist-list,
.similar-artist-section .discography-list,
.similar-artist-section .similar-artist-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.discography-section .discography-list .discography-item,
.discography-section .discography-list .similar-item,
.discography-section .similar-artist-list .discography-item,
.discography-section .similar-artist-list .similar-item,
.similar-artist-section .discography-list .discography-item,
.similar-artist-section .discography-list .similar-item,
.similar-artist-section .similar-artist-list .discography-item,
.similar-artist-section .similar-artist-list .similar-item {
  margin-right: 50px;
  margin-bottom: 25px;
}

.discography-section .discography-list .discography-item img,
.discography-section .discography-list .similar-item img,
.discography-section .similar-artist-list .discography-item img,
.discography-section .similar-artist-list .similar-item img,
.similar-artist-section .discography-list .discography-item img,
.similar-artist-section .discography-list .similar-item img,
.similar-artist-section .similar-artist-list .discography-item img,
.similar-artist-section .similar-artist-list .similar-item img {
  width: 250px;
  height: 250px;
}

.discography-section .discography-list .discography-item .discography-info h3,
.discography-section .discography-list .discography-item .similar-info h3,
.discography-section .discography-list .similar-item .discography-info h3,
.discography-section .discography-list .similar-item .similar-info h3,
.discography-section .similar-artist-list .discography-item .discography-info h3,
.discography-section .similar-artist-list .discography-item .similar-info h3,
.discography-section .similar-artist-list .similar-item .discography-info h3,
.discography-section .similar-artist-list .similar-item .similar-info h3,
.similar-artist-section .discography-list .discography-item .discography-info h3,
.similar-artist-section .discography-list .discography-item .similar-info h3,
.similar-artist-section .discography-list .similar-item .discography-info h3,
.similar-artist-section .discography-list .similar-item .similar-info h3,
.similar-artist-section .similar-artist-list .discography-item .discography-info h3,
.similar-artist-section .similar-artist-list .discography-item .similar-info h3,
.similar-artist-section .similar-artist-list .similar-item .discography-info h3,
.similar-artist-section .similar-artist-list .similar-item .similar-info h3 {
  font-size: 18px;
  line-height: 27px;
  margin-top: 18px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.discography-section .discography-list .discography-item .discography-info p,
.discography-section .discography-list .discography-item .similar-info p,
.discography-section .discography-list .similar-item .discography-info p,
.discography-section .discography-list .similar-item .similar-info p,
.discography-section .similar-artist-list .discography-item .discography-info p,
.discography-section .similar-artist-list .discography-item .similar-info p,
.discography-section .similar-artist-list .similar-item .discography-info p,
.discography-section .similar-artist-list .similar-item .similar-info p,
.similar-artist-section .discography-list .discography-item .discography-info p,
.similar-artist-section .discography-list .discography-item .similar-info p,
.similar-artist-section .discography-list .similar-item .discography-info p,
.similar-artist-section .discography-list .similar-item .similar-info p,
.similar-artist-section .similar-artist-list .discography-item .discography-info p,
.similar-artist-section .similar-artist-list .discography-item .similar-info p,
.similar-artist-section .similar-artist-list .similar-item .discography-info p,
.similar-artist-section .similar-artist-list .similar-item .similar-info p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

.discography-section .discography-list .discography-item .similar-info,
.discography-section .discography-list .similar-item .similar-info,
.discography-section .similar-artist-list .discography-item .similar-info,
.discography-section .similar-artist-list .similar-item .similar-info,
.similar-artist-section .discography-list .discography-item .similar-info,
.similar-artist-section .discography-list .similar-item .similar-info,
.similar-artist-section .similar-artist-list .discography-item .similar-info,
.similar-artist-section .similar-artist-list .similar-item .similar-info {
  text-align: center;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 61px 0 71px 0;
}

.footer .footer-top .footer-links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-top .footer-links h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}

.footer .footer-top .footer-links a {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer .footer-top .footer-links p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer .footer-top .footer-links li {
  list-style-type: none;
  width: 100%;
}

.footer .footer-top .footer-links li ul {
  padding: 0;
  margin: 0;
}

.footer .line {
  position: absolute;
  border: 1px solid #e0e0e0;
  width: 100%;
  left: 0;
}

.footer .footer-bottom {
  padding: 40px 0 48px 0;
}

.footer .footer-bottom a {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 15px;
}

.mr24 {
  margin-right: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mb25 {
  margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }
  .content {
    width: 100%;
  }
  .artist-main-section {
    padding: 200px 20px 0 20px;
  }
  .artist-main-section .content {
    width: 100%;
  }
  .artist-main-section .content nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 20px;
  }
  .artist-main-section .content nav .nav-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .artist-main-section .content nav .nav-div .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 17px 0;
  }
  .artist-main-section .content nav .nav-div .nav-list li {
    margin-right: 0;
  }
  .artist-main-section .content nav .nav-div .nav-list li a {
    text-align: start;
    margin-bottom: 1px;
    margin-right: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .artist-main-section .content nav .search-input {
    width: 100%;
  }
  .artist-main-section .content .central {
    padding-top: 20px;
  }
  .artist-main-section .content .central p {
    color: #fff;
    font-size: 16px;
  }
  .artist-main-section .content .central .list-btn form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .artist-main-section .content .central .list-btn form .purple-btn {
    margin-bottom: 24px;
  }
  .popular-track-section {
    padding: 0 20px;
    padding-top: 100px;
  }
  .popular-track-section .track-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popular-track-section .track-list .rows {
    width: 100%;
  }
  .popular-track-section .track-list .rows .popular-track {
    padding-right: 0;
  }
  .popular-track-section .track-list .rows .popular-track .track-album-info .track-info p {
    font-size: 12.8px;
    line-height: 19.2px;
  }
  .discography-section,
  .similar-artist-section {
    padding: 0 20px;
    padding-top: 100px;
  }
  .discography-section .discography-list,
  .discography-section .similar-artist-list,
  .similar-artist-section .discography-list,
  .similar-artist-section .similar-artist-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .discography-section .discography-list .discography-item,
  .discography-section .discography-list .similar-item,
  .discography-section .similar-artist-list .discography-item,
  .discography-section .similar-artist-list .similar-item,
  .similar-artist-section .discography-list .discography-item,
  .similar-artist-section .discography-list .similar-item,
  .similar-artist-section .similar-artist-list .discography-item,
  .similar-artist-section .similar-artist-list .similar-item {
    width: 137px;
  }
  .discography-section .discography-list .discography-item img,
  .discography-section .discography-list .similar-item img,
  .discography-section .similar-artist-list .discography-item img,
  .discography-section .similar-artist-list .similar-item img,
  .similar-artist-section .discography-list .discography-item img,
  .similar-artist-section .discography-list .similar-item img,
  .similar-artist-section .similar-artist-list .discography-item img,
  .similar-artist-section .similar-artist-list .similar-item img {
    width: 137px;
    height: 137px;
  }
  .footer {
    padding: 0 20px;
  }
  .footer .content {
    width: 100%;
  }
  .footer .content .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
  }
  .footer .content .footer-top .footer-links {
    padding-bottom: 30px;
  }
  .footer .content .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .content .footer-bottom a {
    padding-bottom: 16px;
  }
}
/*# sourceMappingURL=artist.css.map */