// @font-face {
//   font-weight: normal;
//   font-family: "Roboto-Regular";
//   src: url("src/fonts/Roboto-Regular.ttf");
// }

// @font-face {
//   font-weight: bold;
//   font-family: "Roboto-Bold";
//   src: url("src/fonts/Roboto-Bold.ttf");
// }

@import "general/variables.scss";
@import "general/general.scss";
@import "modules/nav.scss";
@import "modules/buttons.scss";
@import "modules/footer.scss";
@import "utilities/utilities.scss";
@import "frameworks/artist-main.scss";
@import "../scss/general/font-style.scss";

// * {
//   box-sizing: border-box;
// }

// body {
//   width: 100%;

//   @extend %no-margin;
// }

// h1 {
//   @include desktop-h1;
// }

// h2 {
//   @include desktop-h2;

//   margin-top: 0;
// }

// .small-text {
//   @include small-text;
// }

// .medium-text {
//   @include medium-text;
// }

// .font18 {
//   @include font18;
// }

.track-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
}

.popular-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-right: 50px;
}

.discography-list,
.similar-artist-list {
  display: flex;
  flex-wrap: wrap;
}

.discography-item,
.similar-item {
  margin-right: 48px;
  margin-bottom: 25px;

  img {
    width: 250px;
    height: 250px;
  }
}

.discography-info,
.similar-info {
  margin-top: 10px;
  margin-bottom: 0;
}

.align-item-center {
  display: flex;
  align-items: center;
}

// .font-h3 {
//   margin: 0;
//   font-size: 12.8px;
//   line-height: 19.2px;
//   text-transform: uppercase;
// }

@media screen and (max-width: 600px) {
  // h1 {
  //   @include mob-h1;
  // }

  // h2 {
  //   @include mob-h2;
  // }

  section:nth-child(2) {
    width: 100%;
    padding: 0 20px;
    padding-top: 100px;
  }

  .track-list {
    padding-top: 48px;
  }

  .track-list .popular-track:nth-child(6) {
    margin-bottom: 0;
  }

  .popular-track {
    width: 100%;
    margin-bottom: 25px;
    padding-right: 0;

    // @include small-text;
  }

  section:nth-child(3),
  section:nth-child(4) {
    width: 100%;
    padding: 0 20px;
    padding-top: 100px;
  }

  .discography-list,
  .similar-artist-list {
    justify-content: space-between;
  }

  .discography-item,
  .similar-item {
    max-width: 137px;

    img {
      width: 137px;
      height: 137px;
    }
  }

  // .font18 {
  //   letter-spacing: -0.9px;
  // }
}
