@font-face {
  font-family: "Roboto-Regular";
  src: url(src/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(src/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

@import "variables";
@import "general";

@mixin artist-page-btn {
  color: $white;
  width: 200px;
  padding: 20px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 0;
  @include small-text;
}

@mixin svg-icon-style {
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

* {
  box-sizing: border-box;
}

html {
  @include general-project-style;
}

body {
  width: 100%;
  @extend %no-margin;
}

h1 {
  @include desktop-h1;
}

h2 {
  @include desktop-h2;
}

.btn {
  @include btn;
}

.content {
  @include content-container;
}

.artist-main-section {
  @include main-wrapper;
  height: 751px;
  background-image: url("../images/MortenHarket.png");
  @include img-bg;

  nav {
    @include nav-bar;
    align-items: center;

    .nav-div {
      display: flex;
      align-items: center;
    }

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include mr(90px);

      img {
        @include logo-img-style;
        @include mr(16px);
      }

      p {
        @include nav-bar-links;
      }
    }

    .nav-list {
      list-style-type: none;
      display: flex;

      li {
        padding-left: 0;
        a {
          @include nav-bar-links;
          @include mr(24px);
        }
      }
    }

    .search-input {
      @include search-input;
      @include mr(24px);
    }
  }

  .central {
    padding-top: 50px;
    h1 {
      margin: 0;
    }

    p {
      @include medium-text;
      margin-bottom: 48px;
      margin-top: 16px;
    }

    .list-btn {
      form {
        display: flex;

        .purple-btn {
          @include btn;
          margin-right: 1.5rem;
          background-color: $purple;
          @include artist-page-btn;

          img {
            @include svg-icon-style;
          }
        }
        .red-btn {
          @include artist-page-btn;
          background-color: $red;

          img {
            @include svg-icon-style;
          }
        }
      }
    }
  }
}

.popular-track-section {
  width: 1240px;
  margin: 0 auto;
  // padding: 0 120px;
  padding-top: 100px;

  h2 {
    margin: 0;
  }

  .track-list {
    padding-top: 50px;
    display: flex;
    flex-direction: row;

    .rows {
      width: 50%;

      .popular-track {
        display: flex;
        justify-content: space-between;
        padding-right: 50px;

        .track-album-info {
          display: flex;
          align-items: center;

          img {
            width: 55px;
            height: 55px;
            margin-right: 15px;
          }

          .track-info {
            h3 {
              font-size: 12.8px;
              line-height: 19.2px;
              text-transform: uppercase;
              margin: 0;
            }
            p {
              margin: 0;
              @include small-text;
            }
          }
        }
        p {
          @include small-text;
        }
      }
    }
  }
}

.discography-section,
.similar-artist-section {
  width: 1240px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    margin-top: 0;
    margin-bottom: 48px;
  }

  .discography-list,
  .similar-artist-list {
    display: flex;
    flex-wrap: wrap;

    .discography-item,
    .similar-item {
      margin-right: 48px;
      margin-bottom: 25px;

      img {
        width: 250px;
        height: 250px;
      }

      .discography-info,
      .similar-info {
        margin-top: 10px;
        margin-bottom: 0;

        h3 {
          @include font18;
          margin: 0;
        }

        p {
          @include medium-text;
          margin: 0;
        }
      }

      .similar-info {
        text-align: center;
      }
    }
  }

  .discography-list .discography-item:nth-child(5),
  .discography-item:nth-child(6) {
    margin-bottom: 0;
  }
}

.footer {
  @include footer;
  @extend %bg-gradient;

  .footer-top {
    @include footer-top;

    .footer-links {
      width: 270px;
      flex-direction: column;
      display: flex;

      .footer-icons {
        display: flex;
        align-items: center;
      }

      h2 {
        @include footer-h2;
        margin-bottom: 16px;
        margin-top: 0;
      }

      a {
        @include footer-link;
      }

      p {
        // @extend %no-margin;
        margin: 2px 0;
        @include footer-link;
        width: 100%;
      }

      ul {
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          // height: 20px;
          padding: 2px 0;
          align-items: center;
        }
      }
    }
  }

  .line {
    @include line;
  }

  .footer-bottom {
    display: flex;
    @include footer-bottom;

    a {
      @include footer-link;
      margin-right: 15px;
    }
  }
}

.mr24 {
  margin-right: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mb25 {
  margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
  h1 {
    @include mob-h1;
  }

  h2 {
    @include mob-h2;
  }

  .content {
    width: 100%;
  }

  .artist-main-section {
    padding: 200px 20px;

    .content {
      width: 100%;

      nav {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 20px;
        top: 10px;

        .nav-div {
          flex-direction: column;
          align-items: inherit;

          .nav-list {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 15px 0;

            li {
              margin-right: 0;

              a {
                text-align: start;
                margin-bottom: 1px;
                margin-right: 0;
                width: fit-content;
              }
            }
          }
        }

        .search-input {
          width: 100%;
        }
      }
      .central {
        padding-top: 30px;

        p {
          color: $white;
          font-size: 16px;
        }

        .list-btn {
          form {
            display: flex;
            flex-direction: column;

            .purple-btn {
              margin-bottom: 24px;
            }
          }
        }
      }
    }
  }

  .popular-track-section {
    padding: 0 20px;
    padding-top: 100px;
    width: 100%;

    .track-list {
      display: flex;
      flex-direction: column;

      .rows {
        width: 100%;

        .popular-track {
          padding-right: 0;

          .track-album-info {
            .track-info {
              p {
                font-size: 12.8px;
                line-height: 19.2px;
              }
            }
          }
        }
      }
    }
  }

  .discography-section,
  .similar-artist-section {
    padding: 0 20px;
    padding-top: 100px;
    width: 100%;

    .discography-list,
    .similar-artist-list {
      justify-content: space-between;

      .discography-item,
      .similar-item {
        width: 137px;

        img {
          width: 137px;
          height: 137px;
        }
        .discography-info,
        .similar-info {
          h3 {
            @include font18;
          }
        }
      }
    }
  }

  .footer {
    padding: 0 20px;
    margin-top: 100px;

    .content {
      width: 100%;

      .footer-top {
        display: flex;
        flex-direction: column;
        padding-right: 0;
        padding-bottom: 44px;
        .footer-links {
          margin-bottom: 30px;
          margin-left: 0%;
          width: 100%;
        }
      }
      .footer-bottom {
        display: flex;
        flex-direction: column;
        padding-bottom: 32px;

        a {
          margin-bottom: 16px;
        }
      }
    }
  }
}
