@mixin general-project-style {
  color: $gray;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 1.5;
  background-color: $black;
}

@mixin content-container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

@mixin wrapper {
  width: 1240px;
  margin: 0 auto;
  padding-top: 100px;
}

@mixin desktop-h1 {
  color: $white;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

@mixin desktop-h2 {
  color: $white;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

@mixin font30 {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

@mixin font24 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

@mixin font16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

@mixin mob-h1 {
  color: $white;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
}

@mixin mob-h2 {
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

@mixin mob-h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

@mixin font18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}

@mixin small-text {
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

@mixin medium-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

@mixin bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin bg-img-style {
  height: 100%;
  border-radius: 1rem;
}

@mixin align-items-center {
  display: flex;
  align-items: center;
}

@mixin mr($mr) {
  margin-right: $mr;
}

@mixin main-wrapper {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

%no-margin {
  margin: 0;
}

%pointer {
  cursor: pointer;
}

//   @include nameofmixin
// @extend %no-margin;
