@mixin general-project-style {
  color: $gray;
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 1.5;
  background-color: $black;
}

@mixin content-container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

@mixin desktop-h1 {
  color: $white;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

@mixin desktop-h2 {
  color: $white;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

@mixin pricing-h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

@mixin pricing-mob-h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

@mixin mob-h1 {
  color: $white;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
}

@mixin mob-h2 {
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

@mixin mob-h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

@mixin font18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}

@mixin footer-h2 {
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

@mixin footer-link {
  @include medium-text;

  display: flex;
  align-items: center;
  width: fit-content;
  color: $gray;
  text-decoration: none;
}

@mixin small-text {
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

@mixin medium-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

@mixin img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin pricing-img-bg {
  height: 100%;
  border-radius: 1rem;
}

@mixin mr($mr) {
  margin-right: $mr;
}

@mixin btn {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin main-wrapper {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

@mixin nav-bar {
  position: absolute;
  top: 25px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 120px;
}

@mixin logo-img-style {
  width: 24px;
  height: 24px;
  color: $white;
}

@mixin nav-bar-links {
  display: flex;
  align-items: center;
  color: $dark-gray;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin search-input {
  display: inline;
  width: 248px;
  height: 25px;
  padding-left: 10px;
  text-transform: uppercase;
  background: $dark;
  border: 0;
  border-radius: 50px;
}

@mixin footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@mixin footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 70px;
}

@mixin footer-bottom {
  padding-top: 40px;
  padding-bottom: 47px;
}

@mixin line {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: $gray;
  border: 1px solid $gray;
}

%bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

%no-margin {
  margin: 0;
}

%pointer {
  cursor: pointer;
}

//   @include nameofmixin
// @extend %no-margin;
