@import "../general/general.scss";
@import "../general/variables.scss";
@import "../general/font-style.scss";
@import "../modules/buttons.scss";
@import "../modules/nav.scss";

.main-section .content > div {
  p {
    margin-top: 32px;
    color: $white;
    font-size: 16px;
  }

  form {
    max-width: 570px;
    margin: 0 auto;
  }
}

.green-btn {
  // @include green-btn;

  color: $white;
  font-size: 13.3px;
  line-height: 15px;
}

.main-section {
  @include main-wrapper;

  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");

  @include bg-img;
}

@media screen and (max-width: 600px) {
  .main-section {
    nav {
      top: 16px;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 0 20px;
    }
  }

  nav {
    .align-item-center {
      flex-direction: column;
      align-items: inherit;
    }
  }

  .nav-list {
    flex-direction: column;
    margin: 17px 0;
    padding: 0;

    li {
      margin-right: 0;

      a {
        width: fit-content;
        margin-right: 0;
        margin-bottom: 1px;
        text-align: start;
      }
    }
  }

  .search-input-style {
    width: 100%;
  }

  .main-section .content > div {
    margin: 0;
    padding: 50px 20px 0 20px;

    p {
      margin: 16px 0;
    }
  }

  // .green-btn {
  //   width: 100%;
  // }
}
