.pricing-items-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.pricing-item {
  position: relative;
  width: 371px;
  margin-top: 50px;
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.price-row {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 40px;
}

.pricing-value {
  margin-right: 16px;
  font-size: 64px;
  line-height: 1em;
}

.pricing-footer {
  height: 57px;
}

@media screen and (max-width: 600px) {
  .wrapper:nth-child(2) {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 100px 20px 0 20px;

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  .pricing-items-row {
    flex-direction: column;
    align-items: center;

    .pricing-item {
      justify-content: center;

      h3 {
        @include font16;
      }
    }
  }
}
